<div class="top-menu">
  <div class="container">
    <nav class="horizontal-menu plain">
      <ul>
        <li class="leftFloatMenu"><a><fa-icon [icon]="faBars"></fa-icon> Меню</a></li>
        <li class="rightFloat"><a href='#'><fa-icon [icon]="faUser"></fa-icon></a></li>
        <li  class="rightFloat"><a href='#'><fa-icon [icon]="faHeart"></fa-icon></a></li>
        <li  class="rightFloat"><a href='#'>Доставка</a></li>
        <li  class="rightFloat"><a href='#'>Контакты</a></li>
        <li class="rightFloat active"><a href='#'>О нас</a></li>
        <li></li>
      </ul>
    </nav>
  </div>
</div>
