<div class="header-middle">
  <div class="row">
    <div class="col-30">
      <div class="logo-img">
        <img src="assets/icon.png" alt="sad">
      </div>
    </div><!-- /.d-col-1 .t-col-6 .m-col-12 -->
    <div class="col-6">
      <div class="form">
        <i class="fa fa-search"></i>
        <input type="text" class="form-control form-input" placeholder="Поиск по каталогу">
      </div>
    </div><!-- /.d-col-11 .t-col-6 .m-col-12 -->
    <div class="col-2">
      <div class="contact">
      <span class="number">8 800 550 88 27</span>
      <span class="number-info">По будням с 9 до 18</span>
      </div>
    </div><!-- /.d-col-11 .t-col-6 .m-col-12 -->
  </div>
</div>

